.keyword
{
	color: #66D9EF;
}
.identifier
{
	color: #A6E22E;
}
.string
{
	color: #FD971F;
}
pre
{
	background: #272822;	
	color: #FFF;
	-moz-tab-size:    4; /* Firefox 4+ */
    -o-tab-size:      4; /* Opera 11.5 & 12.1 only */
    tab-size:         4; /* Chrome 21+, Safari 6.1+, Opera 15+ */
	white-space: pre-wrap;
}
.comment
{
	color: #888;
	
}
.operator
{
	color: #F92672;
}
code, .code
{
	color: #fff;
	background-color: #272822;
	padding: 3px;
}
div.code
{
	width:100%;
	height:calc(100% - 100px);
	font-family:monospace;
	white-space: pre-line;
}
.references code:hover
{
	cursor: pointer;
}
.content code:not(.nolink):hover
{
	cursor: pointer;
}