html
{
	height:100%;
	font-family: "Varela Round", sans-serif;
}
body
{
	background-color:#FFF;
	margin:0px;
	height:100%;
}
div.mainContainer
{

	width:1000px;
	margin-left: auto;
	margin-right:auto;
	height:100%;
}
div.topbar
{
	padding-top:75px;
	padding-bottom:50px;
	width:100%;
}
div.topbar div
{
	padding-left:40px;
	padding-right:40px;
}
a.navigationButton
{
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	text-align:center;
	background-color:#2e3436;
	display:block;
	height:30px;
	font-size:16px;
	font-family: 'Raleway';
	line-height:30px;
	font-weight: bold;
	width: 80px;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}
a.navigationButton:hover
{
	background-color: #255CA0;
}
div.navigation a.navigationButton
{
	color:#fff;
	text-decoration: none;
}

div.subnote
{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	text-align:center;
	color:#888;
	
}
a 
{
  color: #337ab7;
  text-decoration: none;
}
table.skillDisplay img
{
	height: 64px;
}
table.skillDisplay td
{
	text-align:center;
	padding:5px;
	width:75px;
}
a:hover
{
	text-decoration: underline;
}
div.subnote i
{
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
div.subnote i:hover
{
	font-weight:bold;
	cursor: pointer;
}
div.name 
{
	font-family: 'Roboto Slab', serif;
	font-size:48px;
	text-align:center;
	color:#000;
	font-weight: bold;
	
	
}
div.name a
{
	color:#000;
	text-decoration: none;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	letter-spacing: 5px;
}
div.name a:hover
{
	color: #255CA0;
}
div.mainContent
{
	width:100%;
}
.imagesBlocks {
    width: 480px;
    border: 4px solid #ecf0f1;
    border-radius: 5px;
    box-shadow: 0 3px 3px #292929;
    height:270px;
}
.imagesBlocksUnset
{
	width:auto;
	height:auto;
}
.about
{
	line-height: 150%;
}
table.portfolioTable
{
	width:100%;	
}	
table.portfolioTable tr td
{

	width: 50%;
}
div.mainContent h1
{
	width: 100%;
	text-align:center;
	font-family: 'Roboto Slab', sans-serif;
	background: url("images/backgroundLine.png") no-repeat center center;
}
div.mainContent h1 span
{
	background-color: #FFF;
	padding-left:10px;
	padding-right: 10px;
}
div.fewter
{
	margin-right:auto;
	margin-left:auto;
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin-top: 20px;
	font-style: italic;
	padding-bottom: 75px;

}
td.portfolioBig
{
	width: 500px;
	text-align: center;
}
td.portfolioSmall
{
	width:80px;
}
div.portfolioDescription
{
	background-color: #EEE;
	width: 450px;
	height: 240px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
	text-align:center;
	padding:15px;
}
div.portfolioDescription span
{
	display:block;
	margin-top: 20px;
}
div.portfolioDescription h2
{
	font-family: "Roboto Slab", serif;

	padding-top:10px;
	width:100%;
	margin:0px;
}
div.portfolioDescription a 
{
  color: #337ab7;
  text-decoration: none;
}
div.portfolioDescription a:hover
{
	text-decoration: underline;
}
div.portfolioDescriptionSub
{
	
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color:#555;
	margin: 0px;
	font-weight:bold;
}
div.portfolioDescriptionContent
{
	padding-top:10px;

	padding-bottom: 10px;
	font-family: 'Varela Round', sans-serif;
	font-size: 14px;
	color:#333;
	margin: 0px;
	text-align:justify;
	padding-right:20px;
	line-height: 100%;
}
tr.spacer > td
{
	padding: 25px;
}
