* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    position: relative;
    height: 100%;
    font-family: 'Varela Round', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

body {
    background: url('background.png');
}

div.business-card {
    background: #fff;
    width: 700px;
    height: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 20px 1px #000;
    border-radius: 5px;
    z-index: 500;
}

div.business-card .portrait {
    width: 220px;
    height: 220px;
    overflow: hidden;
    display: inline-block;
    margin-right: 20px;
}

div.business-card .portrait img {
    height: inherit;
    width: inherit;
    object-fit: cover;
    border-radius: 10px;
}

div.business-card h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 48px;
    letter-spacing: 3px;
    color: #212121;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
}

div.business-card p {
    margin: 0px;
}

div.business-card a {
    color: #337ab7;
    text-decoration: none;
}

div.business-card a:hover {
    text-decoration: underline;
    color: #275d8c;
}

div.business-card div.subnote {
    font-size: 13px;
    color: #888;
}

div.business-card div.header-links {
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
    display: none;
}

div.header-links span {
    padding: 5px;
}

div.header-links a {
    font-family: 'Nunita Sans', sans-serif;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    border-radius: 20px;
    color: #333;
    font-weight: bold;
    padding: 12px;
    font-size: 14px;
}

div.header-links a.active {
    box-shadow: 0 0 15px #666666;
}

div.header-links a.active:hover {
    text-decoration: none;
    color: #333;
}

div.header-links a:not(.active):hover {
    background-color: #eee;
    text-decoration: none;
    color: #333;
}

div.header-links a.buy-now {
    border-radius: 5px;
    color: #fff;
    width: 100px;
    text-align: center;
    background-color: #5f89fb;
}

div.header-links a.buy-now:hover {
    color: #fff;
    background-color: #5f89fb;
    box-shadow: 0 0 15px #666666;
}

table.portfolio-description tr td:first-child {
    text-align: center;
}

div.overview {
    background: url('vancouver.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
    overflow-x: hidden;
}

div.tech-specs {
    background: url('desktop.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
}

div.experience {
    background: url('googleBuilding.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -10;
}

div.image-desc {
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: #ddd;
    padding: 10px;
    font-size: 12px;
}

div.more-info {
    text-align: center;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    text-transform: uppercase;
    z-index: 5;
    color: #fff;
}

div.more-info:hover {
    cursor: pointer;
}

div.corner {
    position: absolute;
    color: #fff;
}
div.corner.topLeft {
    top: 0px;
    left: 0px;
    z-index: 10;
}
div.corner.topLeft .subtitle {
    transform: rotate(-45deg);
    top: 85px;
    left: -30px;
}
div.corner.topRight .subtitle {
    transform: rotate(45deg);
    top: 85px;
    left: -40px;
}
div.corner.topRight {
    top: 0px;
    right: 0px;
    z-index: 10;
}
div.corner.bottomLeft {
    bottom: 0px;
    left: 0px;
    z-index: 10;
}
div.corner.bottomLeft .subtitle {
    transform: rotate(45deg);
    bottom: 85px;
    left: -25px;
}
div.corner.bottomRight {
    bottom: 0px;
    right: 0px;
    z-index: 10;
}
div.corner.bottomRight .subtitle {
    transform: rotate(-45deg);
    bottom: 85px;
    right: -25px;
}
div.corner img {
    width: 170px;
    height: 170px;
    z-index: 10;
}
div.corner .subtitle {
    width: 241px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    z-index: 10;
}

/* Set a background color */
div.skills {
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

div.content h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.content {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.skills .timeline {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
div.skills .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
div.skills .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
div.skills .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
div.skills .left {
    left: 0;
}

/* Place the container to the right */
div.skills .right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
div.skills .left::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
div.skills .right::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
div.skills .right::after {
    left: -16px;
}

/* The actual content */
div.skills div.timeline .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 830px) {
    div.header-links {
        display: none !important;
    }
    /* Place the timelime to the left */
    div.skills .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    div.skills .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    div.skills .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    div.skills .left::after,
    div.skills .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    div.skills .right {
        left: 0%;
    }
}
