@font-face {
    font-family: Gotham;
    src: url(gothamFont.ttf);
}
@font-face {
    font-family: Iceberg;
    src: url(iceberg.ttf);
}
@font-face {
    font-family: JapanFont;
    src: url(japanFont.ttf);
}
html
{
	height:100%;
	color: #DDD;
}
body
{
	font-family: "Roboto Slab" !important;	
	margin:0px;
	height:100%;
	color: #000;   
	overflow-x:hidden;  
}
div.header
{
	background: url("header.png");
	background-size: 100%;
	height: 90px;
	border-bottom: 1px solid black;
}
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(firstframe.png) no-repeat;
    background-size: cover; 
}
div.overlay
{
	
	width:100%;
	height:calc(100% - 90px);
	background-color: rgba(0,0,0,0.6);
	left:0;
	top:90;
	text-align:center;
}
div.overlay-text
{
	text-align:center;
	position:absolute;
	top: 0;
	bottom:0;
	left: 0;
	right: 0;
	height:500px;
	max-width: 700px;
	margin:auto;
}
div.overlay-text-title
{
	font-family: JapanFont;
	color: #EEE;
	font-size: 50px;
	padding-bottom: 60px;
	 text-shadow: 0px 0px 20px #4ddbff;
}
div.learn-more
{
	text-align:center;
	width:100%;
	position:absolute;
	bottom:0px;
	color: #DDD;
	padding-bottom: 20px;
	font-size: 16px;
}
div.description
{
	width:100%;
	
	font-family: JapanFont;
	text-align:center;
	padding-top: 30px;
	padding-bottom: 30px;
	background: url(description.png);
	background-size: cover;
	background-position:center center;
	color: #FFF;
	text-shadow: 0px 0px 20px #4ddbff;
}
h1
{
	font-size: 40px;
}
div.description p
{
	text-align:left;
	font-size: 18px;
}
div.videos
{
	position: relative;
	width:100%;
	background: url("videos.png");
	background-size: cover;
	color: #FFF;
	padding-top: 30px;
	padding-bottom: 50px;
	text-align:center;
	text-shadow: 0px 0px 20px #4ddbff;
	font-family: JapanFont;
}
div.videos .col-sm-6 img
{
	width: 70%;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 200px;
	position:relative;
}
div.videos .col-sm-6 img:hover
{
	cursor: pointer;
}
div.videos .col-sm-6 img.overlay
{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;
  width: calc(70% - 30px);
  height: calc(190px);
  background: url(playOverlay.png);
  background-size: 100% 100%;
}
div.footer
{
	position: absolute;
	bottom: 0;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-size: 16px;
	font-family: Raleway;
	width: 100%;
	text-shadow: 0px 0px 20px #4ddbff;
	padding-bottom: 10px;
}